@import "../../style/variables.scss";

.not-found {
    &__banner{
        background-color: $dark;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__no-page {
        padding: 15px;
        font-size: 25px;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }
}

.hop {
    animation: 3s infinite 1s hop;
}

@keyframes hop {
    0% {
        transform: rotateZ(0deg);
    }
    15% {
        transform: rotateZ(10deg);
    }
    30% {
        transform: rotateZ(-10deg);
    }
    60% {
        transform: rotateZ(0deg);
    }
}